input[type=file]{
  display: none;
}

.espacoImagem{
  max-width: 300px;
  margin: 5% auto 15% auto;
  width: 50%;
}

.conteudoImagem{
  padding: 10px;
  border: 5px solid black;
  cursor: pointer;
}

#fotografia{
  margin: 15px;
}

#fotografia:hover{
  opacity: 0.2;
}
@media screen and (max-width: 768px) {
  .espacoImagem{
    width: auto;
  }
  .conteudoImagem{
    width: auto;
    height: auto;
  }
  #fotografia{
    margin: 20px;
  }
}
